@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500;600;700;800;900&family=Poppins&display=swap');

/** Basic CSS  Start ****/
*{
    margin:0;
    padding:0;
    font-family: 'Inter', sans-serif;
}
h1{
    font-size: 42px;
    color:#121212;
    margin-bottom: 10px;
}
h2 {
    font-size:28px;
}
p{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    padding:15px 0 25px;
    color:#707070;
}
.text-center{
    text-align:center
}

.margin-10{
    margin:0 10%;
}

.margin-20{
    margin:0 20%;
}

.mr-20{
    margin-right: 20%;
}
.mr-10{
    margin-right: 10%;
}
.link-btn{
    display:inline-block;
    padding:15px 25px;
    background-color: tomato;
    border-radius: 5px;
    text-decoration: none;
    color:#fff;
    
}

.flex-box{
    display:flex;
    justify-content: center;
}
.justify-start{
    justify-content:flex-start
}


.item-center{
    align-items: center;
}

.half-width{
    width:515px;
    margin-bottom: 60px;
    
}
.half-width img{
    width:75%;
}

/** Basic CSS End************/

/*Styling Header Part - Start*/
#top-banner{
    padding:250px 0;
    background-image: url('image/cover.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color:#fff;
    
}


.banner-heading{
    color:#fff;
    font-size:80px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: bolder;

}
.banner-text{
    color:#ddd;
    padding:25px 0;
    
    
}

.section-heading{
    margin: 0 20%;
    margin-bottom:30px;
    text-align:center;
}
/** HEader CSS End************/

/** Donation CSS Start****/

#donation-box{
    padding:100px 0;
}

.m-card{

    display: flex;
    align-items: center;
    justify-content: center;
    width:120px;
    height:120px;
    background-color:#fafafa;
    margin:0 10px;
    font-size:30px;
    font-family: 'inter', sans-serif;
    font-weight: 700;
    border-radius: 5px;
    color:#707070;
}
.m-card:hover{
    background-color: #ffeeee;
    border:3px solid tomato;
    cursor: pointer;
    width:117px;
    height:117px;
}

.m-card.active{
    width:117px;
    height:117px;
    background-color: #ffeeee;
    border:3px solid tomato;
    cursor: pointer;
    
}

.donation-form{
    margin:30px 20%;
    
}
.donation-form input{

    display:block;
    width:80%;
    margin:0  auto;
    border:none;
    border-bottom:1px solid #ddd;
    text-align: center;
    min-height: 40px;
    outline: none;
    font-size: 30px;
    color:#707070;
    font-weight: 700;

}

/** Donation CSS End************/

/** Donate plan CSS Start*****/

#donate-plan{
    margin-bottom: 100px;
}
.donation-form input::placeholder{
    font-size: 16px;
    color:#ddd;
    font-weight: normal;

}

.plan-card{
    width:320px;
    margin:20px;
    padding:50px 50px 20px 20px;
    border-radius: 5px;
    
}
.bg-green{
    background-color: rgba(79, 157, 166, 0.1);
}
.bg-red{
    background-color: hsla(0, 100%, 67%, 0.1);
}
.bg-yellow{
    background-color: #FFF4D6;
}
.plan-card img{
    margin-bottom:25px;
}
.plan-card h2 {
    margin-bottom:30px;
}

/** Donate plan CSS End************/
#blog{
    margin:10%;
}

.blog-item{
    margin-bottom:100px;
}



/** Newsletter CSS Start******/
#newsletter{
    margin-bottom: 100px;
}
.email-form{
    background-color: #FFF4D6;
    padding:100px;
}
.email-form input{
    width:260px;
    padding:15px;
    border:none;
    background-color: #d9d9d9;
    outline: none;
    font-weight: bold;
    font-size: 16px;
}
.email-form button{
    border:none;
    color:#fff;
    padding:15px 40px;
    background-color: tomato;
    border-radius: 0px 5px 5px 0;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}



/** Newsletter CSS End ******/

footer{
    padding-top:30px;
    background-color: rgb(3, 3, 32);
    color:white;
    text-align: center;

}
footer h1{
    color:tomato;
}






